
body{
 
    position:fixed;
    
    left: 0;
    right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    z-index: 9999;

}
.bg-image{
    
    position:fixed;
    background-image: url(destiny.png);
    background-blend-mode: overlay;
    background-color: rgb(145, 145, 145);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;  
    
}
h1{
    color: rgb(144, 201, 47);
    border-bottom-style: ridge;
    font-weight: bold;    
}
h2{
    color: rgb(144, 201, 47);
    border-bottom-style: ridge;
    font-weight: bolder;
}
/*p{
    color: rgb(255, 255, 255);
    
    font-style: oblique;
    font-weight:bolder;
}